<html>
	<head>
		<title>TinyURL</title>
		<script src="./lib/jquery-2.2.4.min.js"></script>
		<script src="./lib/angular.min.js"></script>
		<script src="./lib/angular-ui-router.min.js"></script>
		<script src="./lib/semantic.min.js"></script>
		<script src="./core.js"></script>
		<link rel="stylesheet" href="./css/semantic.min.css">
	</head>
	<body ng-app="TinyURL" ng-controller="MainController">
		<div class="ui segment" style="width:80%; margin:20 auto;">
			<h1 class="ui horizontal divider header">TinyURL</h1>

			<button class="ui button" ng-click="showList()">Existing URLs</button>
			<br><br>

			<input type="text" placeholder="Original URL" ng-model="original"></input>
			<button class="ui button" ng-click="shrink()">Shrink!</button>
			<br><br>
			
			<div ng-show="tiny">
				<a href="{{tiny}}">{{tiny}}</a>
			</div>
		</div>


		<div class="ui modal">
			<i class="close icon"></i>
			<div class="header">
				URL List
			</div>
			<div class="content">
				<table class="ui padded table">
					<tr>
						<th>Original</th>
						<th>Tiny</th>
					</tr>
					<tr ng-repeat="url in urlList">
						<td><a href="{{}}url.original">{{url.original}}</a></td>
						<td><a href="{{apiHost}}u/{{url.short}}">{{apiHost}}u/{{url.short}}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>